  #wrapper {
    height: 85vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

  #typing-demo {
    width: 58ch;
    animation: typing 4s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .profile-btn{
    background:#ffa67e ;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .about-section {
    box-shadow: 41px -41px 0px -14px #5a0f2e;
    border-radius: 54px 20px 20px 0px;
    transition: 2s;
  }
  .about-section:hover {
    transform: translateY(-8px);
    transition: 2s;
  }
  .gallery-item {
    /* border: 2px solid; */
    height: 400px;
    box-shadow: 1px 1px 7px 1px rgb(196, 193, 193);
    margin: 9px;
  }